#block-psu-search-psu-search .form-item-textfield input {
	border: 2px dotted transparent;
	background: white;
}

#block-psu-search-psu-search .form-item-textfield input:focus {
	border-color: gray;

}
