#block-psu-search-psu-search {
  background: #CECDCD;
  padding: 1em;
}
@media (min-width: 40em) {
  #block-psu-search-psu-search {
    background: #BBCCFC;
    padding: 0;
    max-width: 20em;
  }
}

#block-psu-search-psu-search .block__title,
#block-psu-search-psu-search label[for="edit-textfield"],
#block-psu-search-psu-search label[for="edit-options"] {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#block-psu-search-psu-search #edit-textfield {
  border: none;
}
@media (min-width: 40em) {
  #block-psu-search-psu-search .form-type-textfield {
    margin: 0;
  }
}
#block-psu-search-psu-search .psu-search-form {
  position: relative;
}
@media (min-width: 40em) {
  #block-psu-search-psu-search .form-type-radios {
    padding: .3em .5em;
    margin: 0;
  }
}
#block-psu-search-psu-search .form-type-radios .option {
  font-size: .8em;
}
#block-psu-search-psu-search input[type="text"] {
  width: 100%;
  padding: .5em;
  padding-right: 2em;
}
#block-psu-search-psu-search input[type="submit"] {
  position: absolute;
  right: 7px;
  top: 7px;
  border: none;
  background: url("search-icon-small.png") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  width: 16px;
  height: 15px;
  margin: 0;
}
@media (min-width: 40em) {
  #block-psu-search-psu-search input[type="submit"] {
    top: 9px;
  }
}
