#psu-search-form {
  padding: 0;
  position: relative;
  margin-left: 2em;
  display: block;
  overflow: hidden;
  max-width: 250px;
}

#psu-search-form .block__title,
#psu-search-form label[for="edit-textfield"],
#psu-search-form label[for="edit-options"] {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#psu-search-form #edit-textfield {
  border: none;
}
#psu-search-form input[type="text"] {
  background-color: white;
  width: 100%;
  padding: .5em;
  padding-right: 2em;
}
#psu-search-form input[type="submit"] {
  position: absolute;
  right: 0;
  top: 7px;
  border: none;
  background: url("search-icon-small.png") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  width: 16px;
  height: 15px;
  margin: 0;
}
#psu-search-form .form-type-textfield {
  margin: 0;
}
#psu-search-form .psu-search-form {
  position: relative;
}
#psu-search-form .form-type-radios {
  background: #BBCCFC;
  display: block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  margin-top: -2px;
}
#psu-search-form .form-type-radio {
  display: block;
  float: left;
  color: black;
}
#psu-search-form .form-type-radio .option {
  margin-right: 1em;
  margin-left: 0;
}

